.checkers-container {
  position: relative;
  width: 100%;
  height: 200px;
  overflow: hidden;
  margin-bottom: 20px;
  background: #000; /* visible backdrop */
}

.checkers-board {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  display: grid;
  grid-template-columns: repeat(8, 50px);
  grid-auto-rows: 50px;
}

.checkers-board div {
  width: 50px;
  height: 50px;
}

.checkers-board div:nth-child(odd) {
  background: #555;
}

.checkers-board div:nth-child(even) {
  background: #ccc;
}

@keyframes scrollDown {
  0% { transform: translate(-50%, 0); }
  100% { transform: translate(-50%, -400px); } /* move up one board height */
}

.checkers-board.animate {
  animation: scrollDown 5s linear infinite;
}
